.profileUpdatePage{
    height: 100%;
    display: flex;

    .formContainer{
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;

        form{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .item{
                display: flex;
                flex-direction: column;
                gap: 5px;

                input{
                    padding: 20px;
                    border-radius: 5px;
                    border: 1px solid gray;
                }
            }

            button{
                padding: 20px;
                border: none;
                border-radius: 5px;
                background-color: teal;
                color: white;
                font-weight: bold;
                cursor: pointer;
            }
            
            span{
                font-size: 14px;
                color: rgba(255, 0, 0, 0.591);
                background: rgba(247, 193, 75, 0.2235294118);
                padding: 5px 20px;
                border-radius: 10px;
                font-weight: bold;
                align-self: center;
            }
        }
    }

    .sideContainer{
        flex: 2;
        background-color: #fcf5f3;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;

        .avatar{
            width: 13rem;
            height: 13rem;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}