@import "../../responsive.scss";

.listDetail{
    display: flex;
    height: 100%;

    @include md{
        flex-direction: column;
        gap: 20px;
        overflow: scroll;
    }

    .details{
        flex: 3;
        height: 100%;
        overflow-y: scroll;

        @include md{
            flex: none;
            margin-bottom: 50px;
            height: max-content;
        }

        .wrapper{
            display: flex;
            flex-direction: column;
            gap: 50px;
            padding-right: 50px;

            .info{
                display: flex;
                flex-direction: column;
                gap: 50px;

                .top{
                    display: flex;
                    justify-content: space-between;

                    .post{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 20px;

                        h1{
                            font-weight: 400;
                        }

                        .address{
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            font-size: 20px;

                            span{
                                display: flex;
                                gap: 5px;
                                align-items: center;
                                img{
                                    width: 16px;
                                    height: 16px;                            
                                }
                            }
                        }

                        .price{
                            padding: 5px;
                            background-color: rgba(254,205,81,0.438);
                            border-radius: 5px;
                            width: max-content;
                            font-size: 28px;
                            font-weight: 300;
                        }
                    }
    
                    .user{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;
                        padding: 20px 50px;
                        background-color: rgba(254,205,81,0.209);
                        border-radius: 10px;
                        font-weight: 600;
        
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
        
                        span{
                            font-size: 20px;
                            font-weight: 300;
                        }
                    }
                }

                .bottom{
                    margin-bottom: 50px;
                    color: #555;
                    line-height: 20px;
                }
            }
        }
    }

    .features{
        flex: 2;
        background-color: #fcf5f3;
        height: 100%;
        overflow-y: scroll;

        @include md{
            padding: 20px 0px;
            flex: none;
            height: max-content;
        }

        .wrapper{
            display: flex;
            flex-direction: column;
            gap:20px;
            padding: 0px 20px;

            .title{
                font-weight: bold;
                font-size: 18px;
            }

            .listVertical{
                display: flex;
                flex-direction: column;    
                gap: 10px;
                padding: 10px;
                background-color: white;
                border-radius: 10px;

                .feature{
                    display: flex;
                    align-items: center;
                    gap: 10px;
    
                    img{
                        width: 24px;
                        height: 24px;
                    }
    
                    .featureText{
                        display: flex;
                        flex-direction: column;

                        span{
                            font-weight: bold;
                        }

                        p{
                            font-size: 14px;
                        }
                    }
                }
            }

            .sizes{
                display: flex;
                justify-content: space-between;

                @include lg{
                    font-size: 12px;
                }

                .feature{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: white;

                    img{
                        width: 18px;
                        height: 18px;
                    }
                }
            }

            .places{
                display: flex;
                justify-content: space-between;
                padding: 10px;
                border-radius: 10px;
                background-color: white;

                .feature{
                    display: flex;
                    align-items: center;
                    gap: 10px;
    
                    img{
                        width: 20px;
                        height: 20px;
                    }
    
                    .featureText{
                        display: flex;
                        flex-direction: column;

                        span{
                            font-weight: bold;
                        }

                        p{
                            font-size: 12px;
                            // color: #888;
                        }
                    }
                }
            
            }

            .mapContainer{
                height: 200px;
                border-radius: 10px;
                overflow: hidden;
            }

            .buttons{
                display: flex;
                justify-content: space-between;

                .button{
                    display: flex;
                    gap: 5px;
                    padding: 20px;
                    background-color: white;
                    border: 1px solid rgba(254,205,81,0.438);
                    border-radius: 5px;
                    align-items: center;
                    cursor: pointer;

                    img{
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}